
/*Capçalera*/

/*Contenidor superior*/

.contenidor-cap{
    display: flex;
    margin: 30px 30px 0px 30px;
    padding: 30px 30px;
    border: 10px solid #000;
    justify-content: space-around;
    
    
}

.contenidor-cap div{
    margin: 10px;
    justify-content: center;

}


.element1{
    display: flex;
    flex-grow: 1;
    padding: 1px;
    border: 1px solid black;
   
    
    

}
.element2{
    display: flex;
    flex-grow: 3;
    padding: 1px;
    border: 1px solid black;

}
.element3{
    display: flex;
    flex-grow: 1;
    padding: 1px;
    border: 1px solid black;

}

.element4{
    display: flex;
    flex-grow: 1;
    padding: 1px;
    border: 1px solid black;


}

/*Contenidor infoerior*/

.contenidor-cap2{
    display: flex;
    margin: 0 30px 30px 30px;
    padding: 30px;
    border: 10px solid #000;
    border-top: 0px;
}

.contenidor-cap2 div{

    justify-content: center;
}


/*Aritcle contigut central*/

article{
    display: flex;
}

/*Contenidor principal*/
.contenidor-art{
    display: flex;
    flex-direction: column;
    margin: 0 0 30px 30px;
    padding: 30px;
    border: 10px solid #000;
    flex-grow: 3;
}

.contenidor-art div{
    display: flex;
    flex-grow: 1;
    padding: 1px;
    margin: 30px;
    border: 1px solid black;
    justify-content: center;
    
}

.colsArt{
    display: flex;
    flex-direction: row;
}

.cols1{
    display: flex;
    flex-direction: column;
}

.cols2{
    display: flex;
    flex-direction: column;
}


/*Contenidor de la dreta*/

.contenidor-art2{
    display: flex;
    flex-direction: column;
    margin: 0 30px 30px 0;
    padding: 30px;
    border: 10px solid #000;
    border-left: 0px; 
    flex-grow: 1;
}



.contenidor-art2 div{
    display: flex;
    flex-direction: column;
    padding: 30px;
    margin-bottom: 30px;
    border: 1px solid black;
    
    
    
}

/*Peu de pàgima*/

footer{
    display: flex;
    margin: 30px;
    margin-top: 0;
    padding: 30px;
    border: 10px solid #000;
    
}

footer div{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1px;
    border: 1px solid black;
    align-items: center;
}


@media(max-width: 700px){
    
/*Capçalera*/

.contenidor-cap{
    border: 15px solid #000;
}

/*Contenidor superior*/

.contenidor-cap2{
    border: 15px solid #000;
    border-top: none;

}


/*Contenidor de la dreta*/

article{
    flex-direction: column;

}

.contenidor-art{
 
    margin: 30px 30px 0 30px;
    border: 12px solid #000;
  
}

/*Contenidor de la dreta*/

.contenidor-art2{
    margin: 0 30px 30px 30px;
    border: 12px solid #000;
    border-top: 0px; 
   
}



/*Peu de pàgima*/

footer{
    border: 12px solid #000;
}


}



@media(max-width: 500px){
    
    /*Capçalera*/
    
    .contenidor-cap{
        border: 15px solid #000;
        display: flex;
        flex-direction: column;
    }
    
    /*Contenidor superior*/
    
    .contenidor-cap2{
        border-top: none;
        
    
    }

    /*Contenidor art*/
    .colsArt{
        display: flex;
        flex-direction: column;
        margin: 0 0 30px 0;
        padding: 30px;
       
    }

    .cols3{
        margin: 0 0 30px 0;
    }

    






}